*{margin: 0px;
    padding: 0px;
    box-sizing: boder-box;
    
}

#nav-bar{
    background-color: aquamarine;
    margin: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 30px;
}
hi{
    font-size: 30px;
}
#nav-bar input{
    height: 43px;
    width: 240px;
    
}

#nav-bar button{
    padding: 10px;
    font-size: 20px;
    box-shadow: 3px 3px black;
    background-color: darkgoldenrod;
}

#nav-middle{
    display: flex;
    align-items: center;
    gap: 5px;
}

#main{
    display: flex;
    align-items: center;

}

.col-left, .col-right{
    height: 300px;
}

.col-left{
    flex: 2;
    
}

.col-right{
    flex: 1;
}
.puppy{
    outline: 3px solid black;
    display: flex;
}

.puppy-left, .puppy-right{
    
    align-items: center;
}

.puppy-left > img{
    height: 150px;
    border: 1px solid black;
}