h1, p, button, h2, div{
    border: 1px solid black;

}

h1, h2{
    width: 300px

}

button{
    height: 100px;
    width: 100px;
    border-radius: 50%

}
div{
    height: 200px;
    width: 100px;
    background-color: blue;
    overflow-y:scroll;

}